<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      AIR
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="login()" slot="end" color="dark" fill="solid" shape="round"> 
        Login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    
      <section class="ion-text-center first_section">
        <h1>Augmented Interactive Reality</h1>
        <p>Augmented Interactive Reality is an AR Platform for Designers, Business and Users.</p>
        <div class="ion-text-center btnWrapper">
            <ion-button (click)="onClick()" color="dark" fill="solid" shape="round" class="btn">
              Download AIR It's free
            </ion-button>
        </div>
        <img src="../../assets/imgs/ipad.png" alt="">
      </section>
      
      <section class="ion-text-center second_section">
        <h1>AIR FEATURES</h1>
        
       <div>
        <ion-row class="row" >
        <ion-col  size="12" size-sm="6" size-md="6" size-lg="4">
          <ion-card>
            <ion-card-header>
              <lottie-player class="player" autoplay loop src="../../../assets/imgs/plane.json"  style="width: 300px; height: 300px">
              </lottie-player>
            </ion-card-header>
            <ion-card-content>
              <ion-card-subtitle>Ground Plane Detection</ion-card-subtitle>
              <p>AIR can automatically detect Vertical and Horizontal plane.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="6" size-md="6" size-lg="4">
          <ion-card>
            <ion-card-header>
              <lottie-player class="player" autoplay loop src="../../../assets/imgs/3d.json"  style="width: 300px; height: 300px">
              </lottie-player>
            </ion-card-header>
            <ion-card-content>
              <ion-card-subtitle>3D Object Placement.</ion-card-subtitle>
              <p>Object placement in detected Plane.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col  size="12" size-sm="6" size-md="6" size-lg="4">
          <ion-card>
            <ion-card-header>
              <lottie-player class="player" autoplay loop src="../../../assets/imgs/ui.json"  style="width: 300px; height: 300px">
              </lottie-player>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <ion-card-subtitle>Scrollable UI selection.</ion-card-subtitle>
              <p>Dynamic selection of UI with Placement Indicator</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
       </div>
          
        
      </section>


      <section class="ion-text-center third_section">
        <h1>AIR IS FOR CREATIVE PEOPLE</h1>
        <div class="ion-text-center">
          <p> What if the line between your imagination and the real world didn’t exist? With augmented reality, not only is that possible, it’s here.</p>

            <ion-button (click)="discovermore()" color="dark" fill="solid" shape="round">
              Discover More
              
            </ion-button>

            <h5>Learn more about developing for AIR.</h5>
        </div>
     
      </section>
    <footer><p class="ui-section-footer--copyright ui-text-note"><small>&copy; 8bitdev0x8</small></p>
      <!-- MENU -->
      
      <a href="#" role="link" aria-label="#" class="ui-text-note"><small>Help</small></a></footer>
  </ion-grid>

</ion-content>

